.photoContainer {
  @apply flex flex-col gap-2 w-full;
}
.photo {
  @apply absolute z-10 w-full h-64 opacity-0 cursor-pointer  border border-black;
}

.carouselWrapper {
  @apply flex bg-gray500 w-72 h-72;
}

.uploadImage {
  @apply border border-primary w-72 h-72 focus:ring-2 focus:ring-primary focus:ring-offset-2;
}

.uploadBefore {
  @apply bg-gray500 w-72 h-72 flex items-center justify-center;
}

.carouselBtn {
  @apply font-semibold uppercase disabled:cursor-not-allowed;
}

.carouselBtnWrapper {
  @apply flex justify-between mt-2;
}

.textareaWrapper {
  @apply flex flex-col gap-2 w-full;
}

.textarea {
  @apply py-1.5 px-4 w-full  min-h-[108px] max-h-[280px] rounded-xl bg-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-gray600 focus:ring-offset-2;
  @apply text-gray900 placeholder:text-white;
}

.postBtnWrapper {
  @apply flex justify-end gap-2 w-72 mt-4 mb-6;
}
.postBtn {
  @apply py-1 px-3.5  rounded-xl absolute top-0;
}