.mypagePostImg {
  @apply w-[6.125rem] h-[6.125rem];
}
.mypageInfo {
  @apply flex justify-between mt-2 mr-3 w-24;
}
.mypageUserWrapper {
  @apply flex gap-1 justify-between;
}
.mypageUserImg {
  @apply bg-gray-300 rounded-full w-5 h-5 self-center;
}
.speechBubbleHead {
  @apply relative bg-white border border-black;
  @apply pl-1 pr-1;
}
.speechBubbleBody {
  @apply absolute inset-0 transform translate-x-1/2 -translate-y-1/2 -rotate-45;
  @apply bg-white border border-t-black border-r-black border-l-white border-b-white  w-2 h-2;
}
.toggleBtn {
  @apply w-[4.125rem] h-[2.25rem] flex items-center justify-start pl-2 rounded-[25px] bg-black;
  @apply cursor-pointer transition duration-300 ease-in-out;
}
.circle {
  @apply w-[1.5rem] h-[1.5rem] rounded-full bg-white;
  @apply transition-all duration-300 ease-in-out;
}
.on .circle {
  margin-left: 26px;
}
.off .circle {
  margin-left: 0; 
}

